html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

#inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
}

#scale {
  display: none;
  position: relative;
  border: 1px solid;
}

#scale.show {
  display: flex;
}

.scale-numbers {
  position: absolute;
}

#bmi {
  position: absolute;
  width: 8rem;
  transform: translate(0, -50%);
}

#bmi-bar {
  position: absolute;
  border: 1px solid;
  box-sizing: border-box;
}

@media (orientation: portrait) {
  #scale {
    margin-top: 1rem;
    width: 15rem;
    height: calc(95vh - 10rem);
    flex-direction: column-reverse;
  }

  .scale-numbers {
    top: 0%;
    left: calc(100% + 0.5rem);
    transform: translate(0, -50%);
  }

  #bmi {
    right: 100%;
    transform: translate(0, -50%);
  }

  #bmi-bar {
    width: 0.5rem;
    right: 100%;
    transform: translate(0, -50%);
  }
}

@media (orientation: landscape) {
  #scale {
    margin-top: calc((100vh - 35rem) / 2);
    width: 80%;
    height: 15rem;
    flex-direction: row;
  }

  .scale-numbers {
    top: calc(100% + 0.5rem);
    left: calc(100%);
    transform: translate(-50%, 0);
  }

  #bmi {
    bottom: calc(100% + 1rem);
    transform: translate(-50%, 0%);
  }

  #bmi-bar {
    height: 0.5rem;
    bottom: 100%;
    transform: translate(-50%, 0%);
  }
}

.categories {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-sizing: border-box;
  width: 100%;
}

#flags-container {
  position: absolute;
  top: 0%;
  right: calc(0% + 1rem);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 8rem;
}

#flags-container .flags {
  font-size: 3rem;
}

.flags {
  opacity: 0.25;
}

.flags.selected {
  opacity: 1;
}
