body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scale {
  display: none;
  position: relative;
  margin-top: 1rem;
  border: 1px solid;
  width: 15rem;
  height: 50rem;
}

#scale.show {
  display: block;
}

#bmi-text {
  position: absolute;
  width: 8rem;
  right: 100%;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-sizing: border-box;
  width: 100%;
}
