body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scale {
  display: none;
  position: relative;
  margin-top: 1rem;
  border: 1px solid;
  width: 15rem;
  height: 50rem;
}

#scale.show {
  display: flex;
  flex-direction: column-reverse;
}

.scale-numbers {
  position: absolute;
  top: 0%;
  left: calc(100% + 0.5rem);
  transform: translate(0, -50%);
}

#bmi {
  position: absolute;
  width: 8rem;
  right: 100%;
  transform: translate(0, -50%);
}

#bmi-bar {
  position: absolute;
  width: 0.5rem;
  border: 1px solid;
  box-sizing: border-box;
  right: 100%;
  transform: translate(0, -50%);
}

.categories {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-sizing: border-box;
  width: 100%;
}

#flags-container {
  position: absolute;
  top: 0%;
  right: calc(0% + 1rem);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 8rem;
  height: 10rem;
}

#flags-container .flags {
  font-size: 3rem;
}

.flags {
  opacity: 0.25;
}

.flags.selected {
  opacity: 1;
}
